* -text
*.snk binary
*.ico binary
*.chm binary
*.dll binary
*.exe binary
*.pdn binary
*.png binary
*.jpg binary
*.pfx binary
*.cer binary
*.pdf binary
*.gif binary
*.db binary
*.suo binary
*.ja binary
*.sqlite binary
*.chk binary
*.pdb binary
*.lex binary
*.bin binary
*.zip binary